<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
</head>
<body>
    <br>
    <br>
    <div id="app">     
        <form class="form-inline" @submit.prevent="add">
            <input v-model="name">
            <button type="submit">add</button>
        </form>
        <ul>
            <li v-for="user in names">
                {{user.name}}
                <button @click="update(user.name)">edit</button>
                <button @click="delete(user.name)">delete</button>
            </li>
        </ul>    
    </div>
    
    <script>
        new Vue({
            el: "#app",
            data: {
                name: [],
                names: [
                    {name: "Dita Kurnia Sandi"},
                    {name: "Fajar Hakiki"},
                    {name: "Putra Arika"}
                ]
            },
            methods: {       
                findData: function(name){
                    var currindex= null;
                    for(i=0; i<this.$data.names.length; i++){
                      if (name == this.$data.names[i].name)
                          {currindex = i;
                           break;}
                    };
                    return currindex;
                },                    
                add: function(){
                    this.$data.names.push({name:this.name});
                    this.name = null;
                },     
                update: function(name){
                    var index = this.findData(name);
                    this.$data.names[index].votes++;
                },          
                delete: function(name) {
                    this.names.splice(this.findData(name), 1);
                }
            }
        })
    </script>
</body>

</html>