<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input list="list-of-books"  @input="changeSelectedItem" ></input>
        <datalist id="list-of-books">
            <option v-for="books in options">{{ books }}</option>
        </datalist>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
    el: '#app',
    data() {
        return {
            option: '',
            options: [
                'Kalkulus Dasar',
                'Fisika Dasar',
                'Aljabar Linier Elementer',
                'Aljabar Abstrak',
                'Algoritma Pemrograman'
            ],
        }
    },
    methods: {
        changeSelectedItem(e) {
            this.option = e
        }
    }
  })
  </script>
</body>
</html>