<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
</head>
<body>
    <br>
    <br>
    <h3>TULIS KOMENTAR!</h3>
    <div id="app" class="container">     
        <form class="form-inline" @submit.prevent="add">
            <input v-model="comment" class="form-control">
        </form>
        <ul class="list-group">
            <li v-for="kalimat in comments" class="list-group-item">
                {{kalimat.name}} | Score {{kalimat.votes}} | Tanggal {{ kalimat.tanggal}}
                <button @click="upvote(kalimat.name)">+</button>
                <button @click="downvote(kalimat.name)">-</button>
            </li>
        </ul>    
    </div>
    
    <script>
        new Vue({
            el: "#app",
            data: {
                comment: null,
                comments: []
            },
            methods: {                 
                findComments: function(name){
                    var currindex= null;
                    for(i=0; i<this.$data.comments.length; i++){
                      if (name == this.$data.comments[i].name)
                          {currindex = i;
                           break;}
                    };
                    return currindex;
                },         
                add: function(){
                    this.$data.comments.push({name:this.comment, votes:1, tanggal: "04 - 03 - 2021"});
                    this.comment = null;
                },     
                upvote: function(name){
                    var index = this.findComments(name);
                    this.$data.comments[index].votes++;
                },          
                downvote: function(name){
                    var index = this.findComments(name);
                    this.$data.comments[index].votes--;
                },
            }
        })
    </script>
</body>

</html>