<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <form>
      <label>Name: </label>
      <input :disabled="formType === 'upload'" type="text" name="name" ref="name" v-model="newMember.name"> <br>
      <label>Address: </label>
      <input :disabled="formType === 'upload'" type="text" name="address" ref="address" v-model="newMember.address"> <br>
      <label>No HP: </label>
      <input :disabled="formType === 'upload'" type="text" name="no_hp" ref="no_hp" v-model="newMember.no_hp"> <br><br>
      <input v-if="formType === 'upload'" type="file" name="photo" ref="photo">
      <input @click.prevent="tambahMember()" v-if="formType === 'add'" type="submit" value="SUBMIT">
      <input @click.prevent="ubahMember()" v-if="formType === 'update'" type="submit" value="UPDATE"> <br>
      <input @click.prevent="uploadPhoto()" v-if="formType === 'upload'" type="submit" value="UPLOAD"> <br>
      <input @click.prevent="clearForm()" v-if="formType === 'update' || formType === 'upload'" type="submit" value="CANCEL">
    </form>
    <br><br>
    <list-member 
      v-for="member in members" 
      :key="member.id" 
      :member="member" 
      @click-button="click"
    />
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script>
    var ListMember = {
      props: ['member'],
      template: `
      <table border="1">
        <tr>
          <td>
            <img width=100 :src="member.photo_profile ? 'http://demo-api-vue.sanbercloud.com/'+member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="test">
          </td>
          <td style="width: 300px;">
            <h4>Name: {{member.name}}</h4>
            <p>Address: {{member.address}}</p>
            <p>No_hp: {{member.no_hp}}</p>
          </td>
          <td>
            <button @click.prevent="$emit('click-button', member, 'update')">Ubah</button> ||
            <button @click.prevent="drop (member.id)">Hapus</button> ||
            <button @click.prevent="$emit('click-button', member, 'upload')">Upload</button>
          </td>
        </tr>
      </table>
      `,
      methods: {
        async drop(id) {
          await this.$store.dispatch('hapusMember', id)
          alert('Success Hapus Member')
        }
      }
    }

    const store = new Vuex.Store({
      state: {
        members: [],
      },
      mutations: {
        setMembers(state, payload) {
          state.members = payload
        }
      },
      actions: {
        async tampilkanMember({commit}) {
          try {
            const {data} = await axios.get(`http://demo-api-vue.sanbercloud.com/api/member`)
            commit('setMembers', data.members)
          } catch(err) {
            console.log(err)
          }
        },
        async tambahMember(context, payload) {
          try {
            const results = await axios.post(`http://demo-api-vue.sanbercloud.com/api/member`, payload)
            context.dispatch('tampilkanMember')
          } catch(err) {
            console.log(err)
          }
        },
        async hapusMember(context, id) {
          try {
            console.log(id)
            const drop = await axios.post(`http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=DELETE`)
            console.log(drop)
            context.dispatch('tampilkanMember')
          } catch(err) {
            console.log(err)
          }
        },
        async ubahMember(context, payload, id) {
          try {
            const {name, address, no_hp} = payload
            const update = await axios.post(`http://demo-api-vue.sanbercloud.com/api/member/${id}?_method=PUT`, {name, address, no_hp})
            console.log(update)
            context.dispatch('tampilkanMember')
          } catch(err) {
            console.log(err)
          }
        }
      }
    })


    var vm = new Vue({
      store,
      el: '#app',
      components: {
        'list-member': ListMember
      },
      data: {
        formType: 'add',
        errors: [],
        id: null,
        newMember: {
          name: '',
          address: '',
          no_hp: ''
        },
      },
      computed: {
        members() {
          return this.$store.state.members
        }
      },
      methods : {
        async tampilkanMember() {
          await this.$store.dispatch('tampilkanMember')
        },
        async tambahMember() {
          await this.$store.dispatch('tambahMember', this.newMember)
          alert('Add new Member Success')
        },
        async ubahMember() {
          await this.$store.dispatch('ubahMember', this.newMember, this.id)
          this.clearForm()
          this.tampilkanMember()
          alert('Success edit member')
        },
        clearForm() {
          this.newMember = {}
          this.id = null,
          this.formType = 'add'
        },
        click(member, type) {
          this.formType = type
          this.id = member.id
          this.newMember = {
              name: member.name,
              address: member.address,
              no_hp: member.no_hp
          }
        },
        async uploadPhoto() {
            const url = "http://demo-api-vue.sanbercloud.com/api/member"
          try {
            const photo_profile = this.$refs.photo.files[0]
            const formUpload = new FormData()
            formUpload.set('photo_profile', photo_profile)

            const upload = await axios.post(`${url}/${this.id}/upload-photo-profile`, formUpload)
            this.clearForm()
            this.tampilkanMember()
            alert('Success upload photo')
          } catch(err) {
            console.log(err)
          }
        }
      },
      created() {
        this.tampilkanMember()
      }
  })
  </script>
</body>
</html>
